header, footer {
    font-family: 'roboto';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
  }
.header-left {
    display: flex;
    justify-content: center;
    
}
body {
    padding: 100px;
    background-color: black;
}
img {
    width: 100%;

}
main {
    background-color: white;
  
}
footer {
    padding: 20px;

}
.icons-left {
    padding: 10px;
    font-size: 40px;
}
.icons-right {
    display: flex;
    justify-content: flex-end;
}
.fa-bookmark {
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: 40px;
}
.fa-brands {
    font-size: 50px;
}
.fa-ellipsis-vertical {
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
}
.icons {
    display: flex;
    justify-content: space-between;
}
.htmlrigo {
    font-size: 15px;
    margin-left: 10px;
    line-height: 0.5;
    margin-top: 5px;

}